body{
font-family: trade-gothic-next, sans-serif;
}

#faded{
z-index :50;
opacity: .8;
  position: fixed;
  background-color: black;
  top:0;
  left: 0;
  height: 100%;
width: 100%;

}

.message{
z-index : 100;
opacity: 1;
POSITION: fixed;
left: 20%;
top: 150px;
background-color: black;
padding: 50px;
}

.message > p {
  padding: 0 0 20px 0;
  color: #f3f3f3;
  margin: 0
}

.hide{
  display: none;
}

header{

}

figcaption{
  color: gray
}

#shell{
  background-color: red;
  margin: 0;
  padding: 0;
}


img#hb3 {
margin:10px 14px;
width:100px;
display: inline-block;
vertical-align: middle;
}

#shell p{
  display: inline-block;
  color: white;
  /* padding: 15px; */
  margin: 10px 20px;
  vertical-align: middle;
}


#login{
  float: right;
  display: inline-block;
  margin-right: 20px;
  background-color: red;

}

img#div{
  width: 30px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

#login p{
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 20px;
}

#login a{
  color: white;
  text-decoration: none;
}

h1{
  font-size: 72px;
  margin: 0
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


img#banner{
width:100%
}

img#NE{
  width:100%;
}

#content{
  width: 100%;
  /* background-color: gray; */
  padding: 0
}

#ad1{
  margin: 100px 0;
  width: 25%;
  display: inline-block;
  /* background-color: red; */
  vertical-align: top;
  margin-right: 0;
  float:right;
}

#announcements{
  width: 70%;
  margin: 0 20px 50px 14px;
  display: inline-block;
  /* background-color: gray; */
  vertical-align: top;
}

#announcements > h2 {
  color: navy;
  font-size: 32px
}

#announcements h3 {
  font-size: 24px
}

#announcements p{
  font-size: 18px
}

#announcements > div {
  background-color: navy;
  padding: 10px 25px;
  margin-bottom: 10px;
  color: #f3f3f3;
  border-radius: 7px;
}


#ad2{
  width: 50%;
  /* height: 200px; */
  margin: 0 20px;
  display: inline-block;

}

img#ducees{
  width:100%;
}

footer{
  margin-top:100%;
  margin-left: 10px
}

#error{
  margin: 10%;
  font-size: 120px;
  color: navy
}
